/* universal styles */
*{
    box-sizing: border-box;
}

html{
    min-width: 300px;
}

body {
    background-color: black;
    opacity: .9;
    font-size: 27px;
    color: seashell;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    margin: 0;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

main{
    padding: 70px 0 0 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li, li a{
    margin: 0 0 10px 0;
    color: white;
}

p {
    margin: 0;
}
/* header configs */
header{
    min-height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 10;
    width: 100%;
    align-items: center;
    background-color: black;
    flex-grow: 1;
    padding: 10px 0px 0px 10px;
}
header nav a {
    text-decoration: underline;
    color: seashell;
}

a:hover{
    color: rgb(247, 130, 46)
}
header nav {
    text-align: right;
    flex-grow: 1;
    padding-right: 10px;
}

.logo {
    height: 50px;
}

/* mission configs */

#mission{
    min-height: 700px;
    align-items: center;
    background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1u1wylc*_ga*ODUxMzk3OTMwNC4xNjczNzk5MTcy*_ga_3LRZM6TM9L*MTY3MzgxMzQ5My40LjEuMTY3MzgxNTU5NS41NS4wLjA.") no-repeat;
    background-size: 100%;
    background-position: center;
}

#banner{
    width: 100%;
    background-color: black;
}

/* tea of month config */
#tea-of-month{
    margin: 0 0 20px 0;
}


.item{
    margin: 0px 20px 10px 0px;
}

.item img{
    display: flex;
    height: 200px;
    width: 300px;
}


/* location configs */

#locations{
    background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*112rfdq*_ga*ODUxMzk3OTMwNC4xNjczNzk5MTcy*_ga_3LRZM6TM9L*MTY3MzgxOTY0NS41LjEuMTY3MzgyMDU3OS41Ny4wLjA.") no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 500px;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#locations h2{
    margin: 0 0 5px 0;
    color: black;

}
.location{
    background-color: black;
    margin: 20px;
    width: 300px;
    min-height: 300px;
}

footer{
    text-align: left;
    padding: 20px;
}
